<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
 {{>header}}
 <p>This application guidance has been provided by Rohit Ranjan. You can visite his profile on <a href="https://www.linkedin.com/in/rohit-ranjan-a2a08669/">Linkedin</a></p>
        <img class="portrait" src="./img/map.jpg"/>
      </div>
       
        {{>footer}}
    </body>
</html>